it-pgsql-datasources.properties
nb-configuration.xml
node
node_modules
runtime
target
.cache
.classpath
.factorypath
.parcel-cache
.project
.settings
.tscache
*.vscode
/ccm-core/nbproject/
/ccm-cms/nbproject/
