* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

header {
    padding: 1em 2em;
}

header img {
    display: block;

    margin-left: auto;
    margin-right: auto;

    width: 20vw;
    max-width: 1020px;
    max-height: 566px;
}

main {
    max-width: 55em;

    margin-left: auto;
    margin-right: auto;
    
    padding: 2em 1em;
}

main h1 {
    text-align: center;
}

main form.login {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 1em;
}

main form.login .form-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    margin-bottom: 0.5em;
}

main form.login button[type=submit] {
    display: block;
    
    margin-top: 0.75em;
    margin-left: auto;
    margin-right: auto;
    
    padding: 0.25em;
}

footer {
    background-color: #71ac52;
    color: #fff;

    padding: 3em 1em;

    width: 100vw;
}

footer p {
    text-align: center;
}