$grid-breakpoints: (
xs: 0,
sm: 36rem,
md: 48rem,
lg: 62rem,
xl: 75rem
);

$container-max-widths: (
sm: 33.75rem,
md: 45rem,
lg: 60rem,
xl: 71.25rem
);

$grid-gutter-width: 1.875rem;

$form-grid-gutter-width: 0.625rem;

$tooltip-max-width: 12.5rem;

$popover-maxwidth: 17.25rem;

$toast-max-width: 21.875rem;

$modal-xl: 71.25rem;
$modal-lg: 50rem;
$modal-md: 31.25rem;
$modal-sm: 18.75rem;

$modal-fade-transform: translate(0, -3.125rem);

$carousel-indicator-width: 1.875rem;
$carousel-control-icon-width: 1.25rem;

$pre-scrollable-max-height: 21.25rem;

// Buttons used a sort handlers
button.btn.cms-sort-handle:hover {
    cursor: move;
}

// Navbar default colors have insufficient contrast
$navbar-dark-color: #fff;

nav ul .list-group-item.active a {
    color: #fff;
}

nav ul .list-group-item.active ul .list-group-item a {
    color: #007bff;
}

nav.foldertree,nav.categorytree, div.categorizationtree {
    & > ul.nav {
        margin-left: 1em;
        margin-right: 1em;

        ul.nav {
            margin-left: 1.5em;
        }
    }

    button.subcategories-toggler[aria-expanded="false"]::before,
    button.subfolders-toggler[aria-expanded="false"]::before {
        display: inline-block;
        content: "";
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z' clip-rule='evenodd'/></svg>");
        background-repeat: no-repeat;
        background-size: 1em 1em;
        width: 1em;
        height: 1em;
    }

    button.subcategories-toggler[aria-expanded="true"]::before,
    button.subfolders-toggler[aria-expanded="true"]::before {
        display: inline-block;
        content: "";
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z' clip-rule='evenodd'/></svg>");
        background-repeat: no-repeat;
        background-size: 1em 1em;
        width: 1em;
        height: 1em;
    }
}

table.contentsections-table {
    tbody {
        td.action-col {
            width: 11em;
        }
    }
}

table.permissions-table td.permissions-col {
    font-size: 2em;
}

table.contentsections.categories-table {
    td.actions-order-col {
        width: 1em;
    }
    
    td.actions-delete-col {
        width: 9em;
    }
    
    td.actions-setindex-col {
        width: 11em;
    }
}

table.contentsection-roles-table {
    td.actions-details-col {
        width: 9em;
    }
    
    td.actions-delete-col {
        width: 11em;
    }
}

table.lifecycles-table,
table.workflows-table,
table.wor{
    td.info-col {
        width: 3em;
    }
    
    td.del-col {
        width: 9em;
    }
}

