@import "custom";
@import "../../../../node_modules/bootstrap/scss/bootstrap";

.cms-tiptap-editor {
    blockquote {
        background-color: #eee;        
        margin: 0.33em;
        padding: 0.2em;
    }

    pre {
        border: 1px solid #ccc;
        margin: 0.33em;
        padding: 0.2em;
    }

    table {
        border: 1px solid #000;
        margin-left: 0.2em;
        margin-right: 0.2em;
        width: 100%;

        td, th, tr {
            border: 1px solid #000;
        }
    }
}
