
div.portal-workspace-columns {
    position: relative;
}

div.portal-workspace-columns div.portal-col,
div.portal-grid-row div.portal-col {
    float: left;
    overflow: scroll;
}

div.portal-workspace-columns div.portal-col-16,
div.portal-grid-row div.portal-col-16 {
    width: 16.66%;
}

div.portal-workspace-columns div.portal-col-20,
div.portal-grid-row div.portal-col-20 {
    width: 20%;
}

div.portal-workspace-columns div.portal-col-25,
div.portal-grid-row div.portal-col-25 {
    width: 25%;
}

div.portal-workspace-columns div.portal-col-30,
div.portal-grid-row div.portal-col-30 {
    width: 30%;
}


div.portal-workspace-columns div.portal-col-33,
div.portal-grid-row div.portal-col-33 {
    width: 33.33%;
}

div.portal-workspace-columns div.portal-col-40,
div.portal-grid-row div.portal-col-40 {
    width: 40%;
}

div.portal-workspace-columns div.portal-col-50,
div.portal-grid-row div.portal-col-50 {
    width: 50%;
}

div.portal-workspace-columns div.portal-col-75,
div.portal-grid-row div.portal-col-75 {
    width: 75%;
}

div.portal-workspace-columns div.portal-col-100,
div.portal-grid-row div.portal-col-100 {
    width: 100%;
}

