/* 
    Copyright: 2006, 2007, 2008 Sören Bernstein
  
    This file is part of Mandalay.

    Mandalay is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 2 of the License, or
    (at your option) any later version.

    Mandalay is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Mandalay.  If not, see <http://www.gnu.org/licenses/>.
*/

/********************************/
/* DE CSS für das Contentcenter */
/* EN CSS for the contentcenter */
/********************************/

/* Schriften */
@font-face {
    font-family: 'colaborate-regularregular';
    src: url('../fonts/ColabReg-webfont.eot');
    src: url('../fonts/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ColabReg-webfont.woff') format('woff'),
        url('../fonts/ColabReg-webfont.ttf') format('truetype'),
        url('../fonts/ColabReg-webfont.svg#colaborate-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'colaborate-mediumregular';
    src: url('../fonts/ColabMed-webfont.eot');
    src: url('../fonts/ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ColabMed-webfont.woff') format('woff'),
        url('../fonts/ColabMed-webfont.ttf') format('truetype'),
        url('../fonts/ColabMed-webfont.svg#colaborate-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'colaborate-boldregular';
    src: url('../fonts/ColabBol-webfont.eot');
    src: url('../fonts/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ColabBol-webfont.woff') format('woff'),
        url('../fonts/ColabBol-webfont.ttf') format('truetype'),
        url('../fonts/ColabBol-webfont.svg#colaborate-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansMono';
    src: url('../fonts/DejaVuSansMono-webfont.eot');
    src: url('../fonts/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DejaVuSansMono-webfont.woff') format('woff'),
        url('../fonts/DejaVuSansMono-webfont.ttf') format('truetype'),
        url('../fonts/DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansMono-Bold';
    src: url('../fonts/DejaVuSansMono-Bold-webfont.eot');
    src: url('../fonts/DejaVuSansMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DejaVuSansMono-Bold-webfont.woff') format('woff'),
        url('../fonts/DejaVuSansMono-Bold-webfont.ttf') format('truetype'),
        url('../fonts/DejaVuSansMono-Bold-webfont.svg#dejavu_sans_monobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dejavu_sans_monobold_oblique';
    src: url('../DejaVuSansMono-BoldOblique-webfont.eot');
    src: url('../DejaVuSansMono-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
        url('../DejaVuSansMono-BoldOblique-webfont.woff') format('woff'),
        url('../DejaVuSansMono-BoldOblique-webfont.ttf') format('truetype'),
        url('../DejaVuSansMono-BoldOblique-webfont.svg#dejavu_sans_monobold_oblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dejavu_sans_monooblique';
    src: url('../DejaVuSansMono-Oblique-webfont.eot');
    src: url('../DejaVuSansMono-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
        url('../DejaVuSansMono-Oblique-webfont.woff') format('woff'),
        url('../DejaVuSansMono-Oblique-webfont.ttf') format('truetype'),
        url('../DejaVuSansMono-Oblique-webfont.svg#dejavu_sans_monooblique') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Schriften Ende */

/* Colors */
h1, h2, h3 {
    margin: 0;
    color: #4a4a4a;
}


* {
    margin: 0em;
    padding: 0em;
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    color: #4a4a4a;
    background-color: #e6e4f2;
    background-image: none;
    font-family: 'DejaVuSansMono', Verdana, Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1em;
}

h1 {
    padding: 0;
    background-image: none;
}

h2 {
    font-family: 'DejaVuSansMono',Verdana,Helvetica,Arial,sans-serif;
    color: #4a4a4a;
    font-weight: bold;
    line-height: 1.5em;
}

div.bebop-body h2 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.table {
    display: table;
    width: 100%;
    border: none;
}

.tableRow {
    display: table-row;
    border: none;
}

table.htmlarea td.toolbarElement {
    padding: 0px;
}

.tableCell, span.key, span.value {
    display: table-cell;
    width: auto;
    border: none;
}


/*-----cms-page-----*/
#cms-page {
    height:100%;
    width: 100%;
    min-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position:absolute;
}

#cms-page .min-width {
    margin: 0 10px;
    min-width: 1000px;
}

#cms-page .header-height {
    height: 70px;
    top: 87px;
}

/*-----CMS Header-----*/
#cms-header {
    position: relative;
    top: auto !important;
    padding-bottom: 6px;
    color: #ffffff;
    background-color:#56a1bd;
    background-image: linear-gradient(top, #56a1bd 5%, #024C68 95%);
    background-image: -o-linear-gradient(top, #56a1bd 5%, #024C68 95%);
    background-image: -ie-linear-gradient(top, #56a1bd 5%, #024C68 95%);
    background-image: -moz-linear-gradient(top, #56a1bd 5%, #024C68 95%);
    background-image: -webkit-linear-gradient(top, #56a1bd 5%, #024C68 95%); 
    /*Compatibility IE- es fuktioniert noch nicht ganz*/
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',gradientType='0',startColorstr='#56a1bd', 
        endColorstr='#024C68'); /* IE6 & IE7 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',gradientType='0',startColorstr='#56a1bd', 
        endColorstr='#024C68'); /* IE8 */ 
    font-size: 0.8em;
}

div#cms-header .min-width,
div#cms-header .logo,
div#cms-header .logo img { 
    height: 100%;
}

div#cms-header .logo, div#cms-footer .logo{
    float: left;
}

/*
div#cms-header #quicksearchwidget {
    float: right;
    margin: 0.5em;
    border: 1px none ##1c1b1d;
    border-radius: 0.2em;
    box-shadow: 0 0 4px ##1c1b1d inset;
    padding: 0.3em;
    color: #4a4a4a;
    background-color: #f0f0f0;
}
*/

#quicksearchwidget {
    float: right;
    margin: 0.5em;
    border: 1px none #1c1b1d;
    border-radius: 0.2em;
    box-shadow: 0 0 4px #1c1b1d inset;
    padding: 0.3em;
    color: #4a4a4a;
    background-color: #f0f0f0;
}

/*Änderung wie im konzept vornehmen???*/
div#cms-header div.cms-headerMenu,
div#cms-header #userwidget {
    float: right;
    padding: 0.3em;
    font-size: 0.9em;
}

div#cms-header .cms-greeting,
div#cms-header .cms-global-navigation {
    display: inline;
}

div#cms-header .cms-greeting .cms-username {
    font-weight: bold;
    margin-left: -0.8em;
}


div#cms-header h1 { 
    margin: 2em 0em 0em 0em;
    clear: left;
}
/*----TabbedPane----*/
/*div#bebop-tabbed-pane {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em !important;
    line-height: 2.7em;
    padding: 0.4em;
    font-size: 0.9em;
    overflow: hidden;
}*/

div#tabs {
    height: 2em;
    line-height: 2.7em;
    padding: 0.4em;
    font-size: 0.8em;
    overflow: hidden;
}

div#bebop-tabbed-pane a {
    color: #ffffff !important;
    font-family: 'colaborate-regularregular', Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

span.bebopTab {
    margin: 0 -1.5em 0 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 0.4em;
    white-space: nowrap;
    background-color: #0776A0;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ie-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

span.bebopTab:hover {
    background-color: #4c4b4d;
}

span.bebopTab.current {
    color: #ffffff;
    background-color: #4a4747;
    margin: 0 -1.25em 0 0;
    font-family: 'colaborate-mediumregular', Verdana, Helvetica, Arial, sans-serif; 
    font-size: 1.2em;
}

div#bebop-tabbed-pane span:before {
    position: relative;
    padding: 0 5px 0 0;
    top: 5px;
}

div#bebop-tabbed-pane span.browse:before {
    content: url('../../images/cms/browse.png');
}

div#bebop-tabbed-pane span.browse.current:before {
    content: url('../../images/cms/browse-current.png');
}

div#bebop-tabbed-pane span.search:before {
    content: url('../../images/cms/search.png');
}

div#bebop-tabbed-pane span.search.current:before {
    content: url('../../images/cms/search-current.png');
}

div#bebop-tabbed-pane span.images:before {
    content: url('../../images/cms/images.png');
}

div#bebop-tabbed-pane span.images.current:before {
    content: url('../../images/cms/images-current.png');
}

div#bebop-tabbed-pane span.roles:before {
    content: url('../../images/cms/roles.png');
}

div#bebop-tabbed-pane span.roles.current:before {
    content: url('../../images/cms/roles-current.png');
}

div#bebop-tabbed-pane span.workflows:before {
    content: url('../../images/cms/workflows.png');
}

div#bebop-tabbed-pane span.workflows.current:before {
    content: url('../../images/cms/workflows-current.png');
}

div#bebop-tabbed-pane span.lifecycles:before {
    content: url('../../images/cms/lifecycles.png');
}

div#bebop-tabbed-pane span.lifecycles.current:before {
    content: url('../../images/cms/lifecycles-current.png');
}

div#bebop-tabbed-pane span.categories:before {
    content: url('../../images/cms/categories.png');
}

div#bebop-tabbed-pane span.categories.current:before {
    content: url('../../images/cms/categories-current.png');
}

div#bebop-tabbed-pane span.content_types:before {
    content: url('../../images/cms/contenttypes.png');
}

div#bebop-tabbed-pane span.content_types.current:before {
    content: url('../../images/cms/contenttypes-current.png');
}

div#bebop-tabbed-pane span.user_admin:before {
    content: url('../../images/cms/admin.png');
}

div#bebop-tabbed-pane span.user_admin.current:before {
    content: url('../../images/cms/admin-current.png'); 
}

div#bebop-tabbed-pane span.cse:before {
    content: url('../../images/cms/cse.png');
}

div#bebop-tabbed-pane span.cse.current:before {
    content: url('../../images/cms/cse-current.png');
}

div#bebop-tabbed-pane span.reports:before {
    content: url('../../images/cms/reports.png');
}

div#bebop-tabbed-pane span.reports.current:before {
    content: url('../../images/cms/reports-current.png');
}

div#bebop-tabbed-pane span.taskssections:before {
    content: url('../../images/cms/taskssections.png');
}

div#bebop-tabbed-pane span.taskssections.current:before {
    content: url('../../images/cms/taskssections-current.png');
}

/*------Bebop ContextBar----- */
div#cms-breadcrumbs {
    height: 50px;
    line-height: 25px;
    font-size: 0.6em;
    vertical-align: middle;
}

div.bebop-contextbar {
    color:#767676; 
    font-weight:bold;
}

div.bebop-contextbar span.bebop-contextbar-element,
div.bebop-contextbar span.bebop-contextbar-seperator {
    height: 15px;
    padding: 2px 0px 2px 5px;
}

div.bebop-contextbar span.bebop-contextbar-element,
div.bebop-contextbar span.bebop-contextbar-current-element {
    margin-right: 1em;
    background: #d6d6d6;
    box-shadow: 0 0 5px #888888;
    -o-box-shadow: 0 0 5px #888888;
    -ie-box-shadow: 0 0 5px #888888;
    -moz-box-shadow: 0 0 5px #888888;
    -webkit-box-shadow: 0 0 5px #888888;
}

div.bebop-contextbar span.bebop-contextbar-seperator {
    margin-left: 5px;
    border-left: 1px solid #a4a4a4;
    color: transparent; 
    background-image:url('../images/scrumb.png');
    background-repeat:no-repeat;
    background-position: center;
}

div.bebop-contextbar a,
div.bebop-contextbar a:hover,
div.bebop-contextbar a:focus,
div.bebop-contextbar a:active,
div.bebop-contextbar a:visited
{
    color: #767676; 
}

div .bebop-contextbar-current-element{
    padding: 2px 5px; 
}

/*----cmscontent----*/
div#cms-content {
    position: absolute;
    bottom: 40px;
    left:0;
    right: 0;
    height: auto !important;
    margin-top: 75px !important;
    font-size: 1em;
    overflow: hidden;
    /*border-radius: 0.3em; jensp 2014-07-11: border-radius causes silly problems in this combination when scrolling in Firefox running under Linux*/ 
    background-color: #e6dcde;
    box-shadow: 0px 0px 5px #4a4a4a;
}


div#left div.column-head,
div#right div.column-head {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-size: 0.7em;
}

div#left div.column-content {
    height: auto;
}

div#left div.column-content,
div#right div.column-content {
    position: absolute;
    overflow: auto;
    top: 30px;
    bottom: 0;
    font-size: 0.75em;
}

div#left div.column-content > div,
div#right div.column-content > div {
    left: 0;
    right: 0;
}

div#content ul, div#content ol {
    margin-left: 2.5em;
}

/*----Left----*/
div#left {
    margin: 0 !important;
    width: 25%;
}

div#left, div#right {
    top: 0 !important;
    bottom: 0;
}

div#left div.column-head{
    background-color: #4a4a4a;
}

div#left div.column-content{
    left: 0px;
    width: 25%;
    background-color: #e6dcde;
}
/*----Right----*/
div#right{
    width: 75%;
    margin: 0;
    background-color: #fff;
}

div#right div.column-head {
    font-weight: bold;
    background-color: #0776a0;
}

div#right div.column-content{
    right: 0;
    width: 100%;
}

div#right div.column-head .content-title {
    float: left;
    line-height: 30px;
    padding: 0 1em;
}

div#right div.column-head .content-title h1 {
    margin: 0;
    border: none;
    font:inherit;
    color: inherit;
    text-transform: none;
    font-size: 1.1em;
}

/*
div#right div.column-head #contentlanguagewidget{
    float: right;
    line-height: 30px;
    padding-right: 1em;
}
*/

div#right div.column-head #content-view-menu{
    float: right;
    padding: 0 1em;
    line-height: 30px;
}

div#right div.column-head #content-view-menu .cms-content-view-menu,
div#right div.column-head #content-view-menu .cms-global-navigation {
    float: left;
}

div#right div.column-head #content-view-menu a {
    color:white;
}

span#contenttype {
    float: left;
    line-height: 30px;
    padding: 0 1em;
    font-size: 1.1em;
}

span#workflowwidget {
    float: right;
    line-height: 30px;
    padding-right: 1em;
}


a, a:visited {
    text-decoration: none;
    color: #24718b;
}

a:hover {
    text-decoration: none;
    color: #FF9200;
}

a img { 
    border:none;
}

ul {
    list-style: none;
    display: inline;
    margin: 0em !important;
    padding: 0em;
}

ul ul li{
    margin-left: 2.3em;
}

table { 
    width: 100%;
    border-bottom: 1px solid #999999;
    border-collapse: separate;
    border: none !important;
    /*border-spacing: 5pt;*/
}

div.toolbar table.toolbarRow {
    border-collapse: collapse;
}

table.dataTable{
    width: 100%;
}

table * table ,form table {
    border-style: none;
    width: auto;
    margin: 0;
}

table thead tr th { 
    /*padding-left: 0.9em;*/
    color: #999999;
    text-align: left;
    background-color: #eeeeee;
    border: 1px solid #f2f0ff !important;
}

table tbody tr:nth-child(2n) {
    background-color: inherit;
}

table tbody tr td { 
    text-align: left;
    vertical-align: middle;
    border: none !important;
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -o-hyphens: none;
}

table tbody tr td + td{ 
    text-align: left;
}

table .bebop-table-row:hover,
table .bebop-table-row-odd:hover,
table .bebop-table-row-even:hover,
div.cmsSortableList > ul li:hover {
    background-color: rgba(117, 5, 29, 0.05) !important;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

table tr.bebop-table-row-even {
    background-color: #f3f3f3 !important;
}

table * a.checkBoxChecked img, table * a.checkBoxUnchecked img {
    border: 0px none #ffffff;
}

table + form {
    margin-top: 1em;
}

div.end-float {
    clear: both;
    float: none;
}

span.action form {
    display: inline;
    margin: -0.2em;
}

span.action form table {
    display: inline;
    margin: -0.2em;
    vertical-align:baseline;
}

input #draft_search{
    vertical-align: baseline;
    margin-left: 0.4em;
    float: right;
    margin-right: 7px;
    border: 1px solid #175ba2;
    border-color: #175ba2;
    background: #175ba2;
}

textarea, select{
    vertical-align: baseline;
    /*margin-left: 0.4em;*/
    background-color: #fbfbfb; 
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
    border: 1px solid #4a4a4a;
    border: none;
    padding: 0.2em;
    box-shadow: inset 0 0 3px rgba(74,74,74,0.5);
}


input{
    /*margin-left: 0.4em;*/
    border: none;
    border-radius: 3px;
    -o-border-radius:3px;
    -ie-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    padding: 0.2em;
    vertical-align: baseline;
    background-color: #fbfbfb; 
    box-shadow: inset 0 0 3px rgba(74,74,74,0.5);
}

input:hover, input:focus, textarea:hover, textarea:focus {
    box-shadow: inset 0 0 3px rgba(117,5,29,0.5);
}

span.heading {
    font-weight: bold;
}

span.key {
    font-weight: bold;
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -o-hyphens: none;
}

div.action-link {  
    margin-bottom: 1em;
    margin-top: 1em;
}

div.action-link span {
    margin-right: 1.5em;
    border-radius: 0.3em;
    padding: 0.3em 2em;
    background-color: #0776A0;
    box-shadow: inset 5px 5px 10px rgba(255,255,255,0.3),inset -5px -5px 10px rgba(0,0,0,0.3);
}

div.action-link a {
    padding: 0;
    background-image: none;
    color:#ffffff !important;
}

div.action-link span:hover {
    background-color: #07698e ;
}

div.action-link span:active {
    box-shadow: inset -5px -5px 10px rgba(255,255,255,0.3),inset 5px 5px 10px rgba(0,0,0,0.3);
}
ul.bebop-list {
    list-style-type: none;
}

/* special layout for folder-browse */
#folder-browse table.dataTable {
    width: 100%;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-collapse: collapse;
}

#folder-browse table.dataTable thead tr th { 
    text-align: left;
    color:#633e69;
}

#folder-browse table.dataTable thead tr th + th + th + th + th { 
    text-align: center;
}

#folder-browse table.dataTable tbody tr td { 
    text-align: left;
    padding:5px;
}

#folder-browse table.dataTable tbody tr td + td + td + td + td { 
    text-align: center;
}

div#bebop-current-pane table.dataTable tbody tr:hover{ 
    background-color: #ffe0e0; 
}

/* special layout for folder-permissions */
#folder-permissions table.dataTable thead tr th {
    width: 15em;
}

#folder-permissions table.dataTable thead tr th + th {
    width: auto;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

#folder-permissions table.dataTable tbody tr td + td { 
    text-align: center;
}

/* SortButtons */
span.sortButtons {
    /* float: left; */
    margin-right: 3px;
    width: 20px;
}

span.sortButtons span a {
    border: 0px none #ffffff;
}

span.sortButtons span a img {
    border: 0px none #ffffff;
}

/*----Fieldset Legend----*/
div#search{
    /*width: 100%;*/
    margin-top: 15px;
    position: relative;
}

div#search .terms input#terms {
    width: 100%;
}

div .terms{
    margin: 0;
    margin-top: 10px;
}

div .query{
    margin-top: 10px;
}

div#search fieldset {
    margin-top: 25px; 
    -o-border-radius:5px;
    -ie-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding: 15px 0 0 0;
}

div#search fieldset legend{
    margin: 0 0 0 -5px;
    padding: 5px 10px;
    color: #FFF;
    font-weight: blod;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background: #1c1b1d;
    background: -moz-linear-gradient(top, #1c1b1d, #404041);
    background: -webkit-linear-gradient(top, #1c1b1d, #404041);
    background: -o-linear-gradient(top, #1c1b1d, #404041);
    background: linear-gradient(top, #1c1b1d, #404041);
    -moz-box-shadow:1px 1px 2px #ccc;
    -webkit-box-shadow:1px 1px 2px #ccc;
    box-shadow:1px 1px 2px #ccc;
}

div#search .terms {
    padding-bottom: 1.2em;
}

div#search .filterName {
    text-align: left; 
    vertical-align: top; 
    font-weight: bold; 
    padding-right: 1em;
    color: #0776A0;
}

div#search .filterParam {
    padding-bottom: 1.2em;
    padding-top:0.5em;
}

div#search .filterParam >select{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px; 
    background-color: #fbfbfb;
    width: 100%;
    overflow: scroll;
}

/* CMS GlobalNavigation */
div#cms-header .cms-global-navigation a {
    color: #ffffff;
}

span.logout a {
    color: #ffffff;
}

div.cms-global-navigation > span {
    padding-left: 1em;
}

div.cms-global-navigation > span :before {
    position:relative;
    top: 0.4em;
    padding-right: 0.3em;
}

span.cms-global-navigation-contentcenter :before {
    content:url('../images/cms/contentcenter.png');
}

span.cms-global-navigation-workspace :before {
    content:url('../images/cms/home.png');
}

span.cms-global-navigation-admincenter :before {
    content:url('../images/cms/admin.png');
}

span.cms-global-navigation-signout :before, span.logout :before {
    content:url('../images/cms/lock.png');
}

span.cms-global-navigation-help :before {
    content:url('../images/cms/help.png');
}

span.cms-preview a:before {
    content:url('../images/cms/preview.png');
}


/* Segments, Layouts, Panels */
div#right div.bebop-layout-panel {
    position: relative;
    overflow:visible;
}

div#right div.bebop-layout-panel div.bebop-left {
    position: relative;
    float: left;
    width: 22%;
}

div#content .bebop-body .bebop-panel-row span {
    padding-right: 5px;
}

/*div#content .bebop-body .bebop-panel-row span:after {
  content: ":";
}

div#content .bebop-body .bebop-panel-row span.option-group:after,
div#content .bebop-body .bebop-panel-row span.action:after,
div#content .bebop-body .bebop-panel-row span[key="not_yet_published_user"]:after, 
div#content .bebop-body .bebop-panel-row span[key="not_yet_published_date"]:after{
  content: "";
}*/

div#right div.bebop-layout-panel div.bebop-body {
    right: 0;
    width: 73%;
    overflow: visible;
}

div#right div.bebop-layout-panel:after {
    content: " ";
    font-size: 1px;
    color: transparent;
    clear: left;
    float: none;
    width: 100%;
}

div.bebop-left, form[name="category"] table {
    position: absolute;
    float: left;
    width: auto;
    background: #e6dcde; 
    padding: 0em 1em;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    width: 94%;
}

form[name="category"] table table{
    background: none; 
}

form[name="category"] ul li.notSelectedAncestorCategory {
    background-color: #e6dcde; 
}

form[name="category"] ul li ul li.selectedAncestorCategory {
    background-color: #fff;
}

div.bebop-segment { 
    margin-bottom:1em;
    padding-bottom:0.5em;
    border-bottom:1px solid rgba(102, 102, 102, 0.5);
}

#left div.bebop-segment {
    background-color: #F2F0FF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-left: 1px solid rgba(102, 102, 102, 0.5);
}

#left div.bebop-segment h3{
    padding-left: 10px;
    padding-top: 5px;
    background-color: #0776A0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    color: #ffffff;
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

#left div.bebop-segment-body {
    padding-left: 10px;
}

div.bebop-left div.bebop-panel-row { 
    width:100%;
}

div.bebop-panel-row { 
    margin-bottom:1em;
    padding: 0;
    width:40%;
}
div.bebop-panel-row table tr td { 
    margin-bottom: 1em;
    padding: 3px;
}

div.bebop-panel-row textarea{
    width:100%;
}

div.bebop-segment div.bebop-segment-header { 
    padding-left:1em;
    border-bottom:1px solid #cacaca;
    font-weight:bold;
    color:#808080;
}

div.bebop-segment-body ul li ul li{
    padding-left:.5em;

}

div#right div.bebop-body {
    top: 10px;
    bottom: 0;
    overflow: auto;
    position: absolute;
    padding: 0em 1em;
    background-color: #fff; 
}

div.bebop-body table tr{
    border: none !important;
    text-align:left;
}

div.bebop-body div.bebop-panel-row {
    width:99%;
} 

div.bebop-body form #search span {
    display: inline;
}

/*Formatierung für die Suche in Content Section*/
div.bebop-body form #search span.query{
    float:left;
}

div.bebop-body form #search span.filterName{

    float:left;
}
div.bebop-body form #search span.filterParam{
    float:left;
}

div .bebop-body ul li{
    margin-top: 5px;
}

h3.bebop-segment-header{ 
    margin-bottom:0.15em;
    margin-top: 15px;
    color: #0776A0;
}

h3 {
    font-family: 'DejaVuSansMono',Verdana, Helvetica, Arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 0.5em;
    padding: 0em;
    page-break-after: avoid;
    font-size: inherit;
}

/* BebopTree */
ul.bebop-tree {
    padding: 0 0 1em 1.5em;
}

ul.bebop-tree  a img {
    margin-left: -1.3em;
    vertical-align: bottom;
}

ul.bebop-tree  a + a,
ul.bebop-tree  a + span {
    margin-left: -1em;
}

div.bebop-column-panel{
    margin-top:	15px;
}

ul.bebop-tree * ul {
    margin-left: -1em;
}

/* Bebop CurrentPane*/
div#bebop-current-pane { 
    position: absolute;
    text-align: left;
}

/* ActionGroupSet */ 
div.action-group-subject tr{
    text-align: left;
}

span.action:before {
    content:url('../../images/bebop/action.png');
    padding-right: 0.3em;
}

span.action.add:before {
    content:url('../../images/bebop/action-add.png');
    padding-right: 0.3em;
}

span.action.delete:before {
    content:url('../../images/bebop/action-delete.png');
    padding-right: 0.3em;
}

span.action.edit:before {
    content:url('../../images/bebop/action-edit.png');
    padding-right: 0.3em;
}

span.action.return:before {
    content:url('../../images/bebop/action-return.png');
    padding-right: 0.3em;
}

span.action.up:before {
    content:url('../../images/bebop/action-up.png');
    padding-right: 0.3em;
}

span.action.down:before {
    content:url('../../images/bebop/action-down.png');
    padding-right: 0.3em;
}


div.cmsSortableList > ul {
    list-style: none;
}

div.cmsSortableList > ul li:nth-child(2n+1)
{
    background-color:#eeeeee;
}

/* CMS Summary Section */
div.cmsSummarySection { 
    padding: 0 1em;
}

div.cmsSummarySection div.cmsSummaryHeading { 
    font-weight: bold;
    margin-bottom:0.3em;
}

div.cmsSummarySection .cmsSummaryHeading {
    color: #0776A0;
}

div.cmsSummaryBody {  
    margin-bottom:0.7em;
    padding-bottom:0.3em;
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

div.cmsSummaryBody ul.categoryList li{
    padding-left: 30px;
}

div.cmsSummarySection ul {
    text-indent: -2.5em;
}  

span.cmsCurrentRevision {
    font-style:italic;
    font-weight:bold;
}

span.cmsInitialRevision {
    color:#666666;
    font-style:italic;
}

span.cmsTaskComment {
    margin-left:3em;
}

span.cmsTaskCommentCredentials {
    font-style:italic;
}

/* CMS Notes */
div.cmsNotesDisplay {
    margin-bottom: 1em;
    border: solid 1px #999999;
    min-height: 7.5em;
}

div.cmsNotesContent {
    padding: 0.5em;
}

div.cmsNotesAction {
    float: right;
    margin-bottom: 1em;
    border-left: dotted 1px #999999;
    border-bottom: dotted 1px #999999;
    padding: 0.5em;
    background-color: #f3f3f3;
}

div.cmsNotesAction > span {
    display: block;
    margin-right: 1em;
}

div.sidebarNavPanel {

}

div.sidebarNavPanel > ul.bebop-tree {
    float: left;
    width: 15em;
}

div.sidebarNavPanel > div.main {
    margin-top: 1em;
    margin-left: 15.5em;
    padding-left: 0.5em;
    border-left: dotted 1px #999999;
}

div.sidebarNavPanel > span.heading {
    display:block;
    padding: 0.5em;
}

/* Für UserAdmin Liste - beinflußt das noch andere Teile ? */
table.AlternateTable th, table.AlternateTable td{
    text-align: right;
    padding: 0em 0.5em;
}

table.AlternateTable th + th, table.AlternateTable td + td {
    text-align: left;
    padding: 0em 0.5em;
}
/*edit pardis*/
div.bebop-body div.bebop-segment h3.bebop-segment-header {
    padding-bottom: 0.5em;
    text-decoration: underline;
}

dl dd a {
    padding: 1px;
    border: 1px solid #0776A0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: #3BA6D0;
    color: #ffffff;
    font-weight: bold;
    margin-left: 10px;
}

dl dd a:hover {
    color: #0776A0;
}

#Go{
    background-color:#ffffff;
    border:1px solid #613d6b;
    color:#613d6b;

}
#tid{
    background-color:#cec7b7;
    border:1px solid #613d6b;
    color:#613d6b;
}
#new{
    background-color:#ffffff;
    border:1px solid #613d6b;
    color:#613d6b;
}

/* ImageBrowser */
.tile {
    float: left;
    width: 220px;
    min-height: 220px;
    margin: 0.3em;
    overflow: hidden;
    background-color: white;
    padding: 0.2em;
    box-shadow: 2px 2px 5px #4a4a4a;
}

.tile img {
    margin: 0.5em;
}

.tile div {
    text-align: center;
    height: 170px;
}

.tile div + div {
    height: auto;
}

img.cmsImageDisplay {
    float: left;
    max-height: 200px;
    width: auto;
}

div.asset-search-widget dialog,
div.item-search-widget dialog {
    background-color: #e6e4f2;

    border: 0px solid transparent;
    border-radius: 14px;

    box-shadow: 5px 5px #aaa;

    display: none;

    position: absolute;
    top: 5%;
    left: 2%;

    width: 96%;
    height: 90%;

    z-index: 999;

    overflow-y: auto;
}

div.asset-search-widget dialog[open="open"],
div.item-search-widget dialog[open="open"] {
    display: block;
}

div.asset-search-widget dialog .controls,
div.item-search-widget dialog .controls {
    padding: 0.5em;
}

div.asset-search-widget dialog .controls .apply-filter,
div.item-search-widget dialog .controls .apply-filter{
    margin-left: 0.5em;
}

div.asset-search-widget dialog .controls label,
div.item-search-widget dialog .controls label {

    font-weight: bold;

    margin-right: 0.5em;
}

div.asset-search-widget dialog .dialogarea controls button, 
div.item-search-widget dialog .dialogarea controls button{

    margin-left: 0.5em;

}
div.asset-search-widget dialog .selectable-assets, 
div.item-search-widget dialog .selectable-assets {

    padding: 0;
    
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 80%;
    overflow: scroll;
}

div.asset-search-widget dialog .dialogarea table,
div.item-search-widget dialog .dialogarea table {

    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

div.asset-search-widget dialog .selectable-assets table thead tr th,
div.item-search-widget dialog .selectable-assets table thead tr th {
    
    background-color: transparent;
    
    color: #000;
    
    font-weight: bold;
    
}

div.asset-search-widget dialog .titlebar,
div.item-search-widget dialog .titlebar {
    margin-top: 0;

    padding: 0.5em 1em;

    background: #0776a0;

    -webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    color: white;
}

div.asset-search-widget dialog .titlebar .close-button,
div.item-search-widget dialog .titlebar .close-button {

    background-color: transparent;

    border: none;

    font-size: 18px;

    position: absolute;
    right: 13px;

    color: white;

    margin-top: -0.25em;
}

div.asset-search-widget dialog .titlebar .close-button:after,
div.item-search-widget dialog .titlebar .close-button:after {
    content: '\2715';
}

div.asset-search-widget dialog .titlebar .close-button span,
div.item-search-widget dialog .titlebar .close-button span {

    position: absolute;
    top: -999px;

    width: 1px;
    height: 1px;
    overflow:hidden;
}

div.asset-search-widget dialog .titlebar .close-button:hover,
div.item-search-widget dialog .titlebar .close-button:hover {
    cursor: pointer;
}

div.asset-search-widget dialog .selectable-items table,
div.item-search-widget dialog .selectable-items table{
    width: 100%;
    padding: 0.35em;
    table-layout: fixed;
}

div.asset-search-widget dialog .selectable-items table tbody tr td,
div.item-search-widget dialog .selectable-items table tbody tr td{
    overflow: hidden;
}

div.asset-search-widget dialog .selectable-items table thead th,
div.item-search-widget dialog .selectable-items table thead th{
    text-align: center;
}

div.cmsImageInfoOverlay {
    float: left;
    margin-left: 2em;
}

div#cms-footer{
    position: absolute;
    top: auto;
    bottom: 0px;
    width: 100%;
    height: 30px;
    color: #a4a4a4;
    background-color: #29272a;
    font-size: 0.72em;
}

div#cms-footer .system-information {
    float: left;
    width: 25%;
    color: #a4a4a4;
    line-height: 30px;
    font-weight: bold;
    vertical-align: 30px;
}

div#cms-footer .system-information a {
    color: inherit !important;
}
div#cms-footer .system-information a:hover {
    color: #ffffff;
}
div#cms-footer .system-information .version {
    font-weight: normal;
}

div#cms-footer .cms-global-navigation{
    float: left;
    line-height: 30px;
    font-weight: bold;
}

div#cms-footer .cms-global-navigation span:hover {
    color: #ffffff;
}

div#cms-footer .cms-global-navigation span a {
    color: inherit !important;
}

div#cms-footer .cms-global-navigation + .cms-global-navigation {
    float: right;
}
div.column-content div.navbar{
    padding: 1em 1em;
}
div.bebop-panel-row span.option-group {
    column-count: 3;
    display: block;
}

div.bebop-panel-row span.option-group label:after {
    content:" ";
    display:block;
}

input#draft_search{
    margin-top: 0.5em;
    border: none;
    color: #ffffff;
    background-color: #0776A0;
    height: 28px;
    box-shadow: inset 5px 5px 10px rgba(255,255,255,0.3),inset -5px -5px
        10px rgba(0,0,0,0.3);
}

input#draft_search:hover {
    background-color: #cc0033 ;
}

input#draft_search:active {
    box-shadow: inset -5px -5px 10px rgba(255,255,255,0.3),inset 5px 5px
        10px rgba(0,0,0,0.3);
}

/*----------------------------------------*/
/*Zeile aus dem basic.css*/
/*----------------------------------------*/
/* Spezielle styles für die barrierefreie Anzeige, werden von
  grafischen Browsern ausgeblendet */
.hide, .nav-hide {
    display: none;
}

#left {
    position: static !important;
    float: left;
    min-width: 14em;
    height: 100%;
    overflow: hidden;
    margin: 0.3em;
    padding: 0;
    color: inherit !important;
    background-color: #ffffff;
}

#left li > span:before{
    content: '\270D';
    font-size: 20pt;
}

#center {
    margin: 0.3em;
    overflow: hidden;
    background-color: #ffffff;
}

#right {
    position: relative;
    top: 0em;
    height: 100%;
    overflow: hidden;
    margin: 0.3em;
    padding: 0;
    background-color: #ffffff;
}

#content {
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    min-height: inherit;
    color: #000;
    background-color: inherit;
    line-height: 1.75em;
    font-family: 'DejaVuSansMono',Verdana, Helvetica, Arial, sans-serif;
}

/*momentan für die Inhalt von Content*/
#content br{
    margin-top: 10px;
}

#content form {
    margin: 0;
    color: inherit;
    background-color: transparent;
    text-align: left;
}

#content form input,
#content form select {
    float: none;
    border: none;
    padding: 0.2em;
    color: inherit;
    background-color: #ffffff;
}

#content form fieldset {
    border: none;
    margin: 0.5em 0em 1em 0.3em;
    /*border-top: 1px dotted #0776A0; */
    /*border-bottom: 1px dotted #0776A0; */
    border: 1px dotted #0776A0;
    /*padding: 0.3em 0em;*/
    padding: 1em;
    color: #0776A0;
    font-weight: bold;
}

#content form#pageCreate input[type='text'],
form#propertyedit input[type='text'] {
    width: 35em;
    max-width: 55%;
}

#content form#pageCreate input[type='text'].day,
#content form#pageCreate input[type='text'].month,
#content form#pageCreate input[type='text'].year,
#content form#pageCreate input[type='text'].hour,
#content form#pageCreate input[type='text'].minute,
form#propertyedit input[type='text'].day,
form#propertyedit input[type='text'].month,
form#propertyedit input[type='text'].year,
form#propertyedit input[type='text'].hour,
form#propertyedit input[type='text'].minute {
    width: 2em;
}

#content span.option-group input[value="externalLink"]:checked ~ fieldset[class="internalLink"]{
    display:none;
}

#content span.option-group input[value="internalLink"]:checked ~ fieldset[class="externalLink"]{
    display:none;
} 

#content form select {
    padding: 0.25em;
    min-width: 11.4em;
    color: inherit;
    background-color: #ffffff;
}

#content textarea {
    padding: 0.25em;
    color: inherit;
    background-color: #ffffff;
}

#content form input[type="submit"] {
    margin-left: 1em;
    border: none;
    padding: 0 2em;
    color: #ffffff;
    background-color: #0776a0;
    background-image: none;
    height: 1.8em;
    box-shadow: inset 5px 5px 10px rgba(255,255,255,0.3),inset -5px -5px
        10px rgba(0,0,0,0.3);
}

input#file_upload{
    margin-left: 1em;
    border: none;
    color: #ffffff;
    background-color: #75051d;
    height: 28px;
    box-shadow: inset 5px 5px 10px rgba(255,255,255,0.3),inset -5px -5px 10px rgba(0,0,0,0.3);
}
#content form input[type="submit"]:hover {
    background-color: #07698e ;
    background-image: none;
}

#content form input[type="submit"]:active {
    box-shadow: inset -5px -5px 10px rgba(255,255,255,0.3),inset 5px 5px
        10px rgba(0,0,0,0.3);
}

/*#content form label {
  clear: left;
  float: none;
  width: 12em;
  margin-bottom: 0.2em;
  color: #666666;
  font-weight: bold;
  padding-left: 5px;
}*/

#content form label.widget-label {
    display :block;
    font-weight: bold;
    margin-top: 0.5em;
    color: #666;
}

a#preview_link:hover{
    color: white;
}

a#preview_link:visited{
    color: white;
    border: none; 
}

div.bebop-grid-panel{
    margin-top: 15px;
}

div.action-link span.hint,
h3.bebop-segment-header span.hint,
table span.hint{
    display: none;
}

.hint {
    padding-left: 2px;
    font-size: 1.1em;
    font-family: 'DejaVuSansMono-Bold', Verdana, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.hint:hover:after {
    position: absolute;
    box-shadow: 0 0 5px #4a4a4a;
    border-radius: 0.3em;
    padding: 0.5em;
    content: attr(content);
    top: auto;
    right: auto;
    width: 30%;
    font-size: 0.65em;
    z-index: 65535;
    font-family: 'DejaVuSansMono', Verdana, Helvetica, Arial, sans-serif;
    background-image: linear-gradient(top, #eeeeee, #cccccc);  
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);  
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);  
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc); 
}

/*ul.bebop-tree li a[type="control"] {
    padding: 5px;
    line-height: 2em;
}*/

#cms-header, #cms-footer {
    min-width: 1200px;
}

span.bebop-form-errors {
    color: #FF0000;
    display: block;
}

span.bebop-form-errors:before{
    content: '\26A0';
    font-size: 20pt;
}

div.themeErrors {
    border: 1.5px solid #FF0000;
    padding-top: 5px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.themeErrors li{
    list-style: circle;
}

div.themeErrors h5{
    font-size: 10pt;
    border-bottom: 1px solid #FF0000;
    color: #FF0000;
    padding: 0 0 5px 5px;
}

div.themeErrors ol{
    padding-left: 20px;
}

span.errors {
    color: #FF0000;
    font-weight: bold;
}

span.noErrors {
    color: #008B00;
    font-weight: bold;
    border: 1.5px solid #008B00;
    padding: 10px
}

span#quickLinksCascade {
    display: block;
}

.static-new-item-form select {
    max-width: 12em;

}

.static-new-item-form input {
    height: 1.8em;
}

.wysiwyg ul {
    list-style: disc inside;
}

.wysiwyg div.image {
    border: 1px solid #999;

    margin-bottom: 0.5em;
}

.wysiwyg div.image span.caption {
    display: block;
}

.wysiwyg div.image.left {
    float: left;

    margin-right: 1em;
}

.wysiwyg div.image.right {
    float: right;

    margin-left: 1em;
}

.wysiwg div.image.center {
    text-align: center;    
}

.wysiwg div.image.center span.caption {
    margin-left: auto;
    margin-right: auto;

    text-align: left;
}

.preformatted-text {
    white-space: pre;
}