/* Styles for Vaadin used in the CCM Core module */

@import "../valo/valo.scss";

@mixin ccm-core {
    
    @include valo;
    
    .libreccm-header {
        .libreccm-logo {
            max-height: 100px;
        }
        
    }
    
    .libreccm {
        background-color: #71ac52;
    }
    
    .librecms {
        background-color: #54ac9c;
    }
    
    .aplaws {
        background-color: #5462ad;
    }
    
    .scientificcms {
        background-color: #ad5353;
    }
}
