#foundry-debug-panel {
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 1em;
    z-index: 999;
}

#foundry-debug-panel #foundry-debug-panel-content{
    display: none;
}

#foundry-debug-panel:hover {
    width: 100%;
    height: 24em;
    background-color: #000;
    /*border: 1px solid #0ff;*/
    border-radius: 1em;
}

#foundry-debug-panel:hover #foundry-debug-panel-content {
    display: block;
    overflow:auto;
    margin: 0.2em 1em;
    font-family: monospace;
    font-size: 10pt;
    color: #0ff;
}

#foundry-debug-panel:hover #foundry-debug-panel-content dl {

}

#foundry-debug-panel:hover #foundry-debug-panel-content dt {
    float: left;
    padding-right: 1em;
    width: 15em;
    text-align: right;
}

#foundry-debug-panel:hover #foundry-debug-panel-content dt::after {
    /*content: " = ";*/
}

#foundry-debug-panel:hover #foundry-debug-panel-content dd::before {
    content: " = ";
}

#foundry-debug-panel:hover #foundry-debug-panel-content dd {
    padding-left: 0.5em;
}

#foundry-debug-panel:hover #foundry-debug-panel-content dd::after {
    clear: both;
    content: " ";
}