/* 
    CSS file for the Foundry Documentation
    (c) Jens Pelzetter
*/

@font-face {
    font-family: 'liberation_sans';
    src: url('../fonts/LiberationSans-Bold-webfont.eot');
    src: url('../fonts/LiberationSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LiberationSans-Bold-webfont.woff') format('woff'),
        url('../fonts/LiberationSans-Bold-webfont.ttf') format('truetype'),
        url('../fonts/LiberationSans-Bold-webfont.svg#liberation_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_sans';
    src: url('../fonts/LiberationSans-BoldItalic-webfont.eot');
    src: url('../fonts/LiberationSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LiberationSans-BoldItalic-webfont.woff') format('woff'),
        url('../fonts/LiberationSans-BoldItalic-webfont.ttf') format('truetype'),
        url('../fonts/LiberationSans-BoldItalic-webfont.svg#liberation_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'liberation_sans';
    src: url('../fonts/LiberationSans-Italic-webfont.eot');
    src: url('../fonts/LiberationSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LiberationSans-Italic-webfont.woff') format('woff'),
        url('../fonts/LiberationSans-Italic-webfont.ttf') format('truetype'),
        url('../fonts/LiberationSans-Italic-webfont.svg#liberation_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'liberation_sans';
    src: url('../fonts/LiberationSans-Regular-webfont.eot');
    src: url('../fonts/LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LiberationSans-Regular-webfont.woff') format('woff'),
        url('../fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
        url('../fonts/LiberationSans-Regular-webfont.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'liberation_serif';
    src: url('../fonts/LiberationSerif-Bold-webfont.eot');
    src: url('../fonts/LiberationSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LiberationSerif-Bold-webfont.woff') format('woff'),
        url('../fonts/LiberationSerif-Bold-webfont.ttf') format('truetype'),
        url('../fonts/LiberationSerif-Bold-webfont.svg#liberation_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'liberation_serif';
    src: url('../fonts/LiberationSerif-BoldItalic-webfont.eot');
    src: url('../fonts/LiberationSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LiberationSerif-BoldItalic-webfont.woff') format('woff'),
        url('../fonts/LiberationSerif-BoldItalic-webfont.ttf') format('truetype'),
        url('../fonts/LiberationSerif-BoldItalic-webfont.svg#liberation_serifbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'liberation_serif';
    src: url('../fonts/LiberationSerif-Italic-webfont.eot');
    src: url('../fonts/LiberationSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LiberationSerif-Italic-webfont.woff') format('woff'),
        url('../fonts/LiberationSerif-Italic-webfont.ttf') format('truetype'),
        url('../fonts/LiberationSerif-Italic-webfont.svg#liberation_serifitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'liberation_serif';
    src: url('../fonts/LiberationSerif-Regular-webfont.eot');
    src: url('../fonts/LiberationSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LiberationSerif-Regular-webfont.woff') format('woff'),
        url('../fonts/LiberationSerif-Regular-webfont.ttf') format('truetype'),
        url('../fonts/LiberationSerif-Regular-webfont.svg#liberation_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_mono';
    src: url('../fonts/LiberationMono-Bold-webfont.eot');
    src: url('../fonts/LiberationMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LiberationMono-Bold-webfont.woff') format('woff'),
        url('../fonts/LiberationMono-Bold-webfont.ttf') format('truetype'),
        url('../fonts/LiberationMono-Bold-webfont.svg#liberation_monobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'liberation_mono';
    src: url('../fonts/LiberationMono-BoldItalic-webfont.eot');
    src: url('../fonts/LiberationMono-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LiberationMono-BoldItalic-webfont.woff') format('woff'),
        url('../fonts/LiberationMono-BoldItalic-webfont.ttf') format('truetype'),
        url('../fonts/LiberationMono-BoldItalic-webfont.svg#liberation_monobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'liberation_mono';
    src: url('../fonts/LiberationMono-Italic-webfont.eot');
    src: url('../fonts/LiberationMono-Italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LiberationMono-Italic-webfont.woff') format('woff'),
        url('../fonts/LiberationMono-Italic-webfont.ttf') format('truetype'),
        url('../fonts/LiberationMono-Italic-webfont.svg#liberation_monoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'liberation_mono';
    src: url('../fonts/LiberationMono-Regular-webfont.eot');
    src: url('../fonts/LiberationMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LiberationMono-Regular-webfont.woff') format('woff'),
        url('../fonts/LiberationMono-Regular-webfont.ttf') format('truetype'),
        url('../fonts/LiberationMono-Regular-webfont.svg#liberation_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: liberation_sans;
    position: relative;
    width: 40em;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;

    font-size: 1em;
}

.nav-hide {
    display: none;
}

main {

}

header, footer {
    position: fixed;
    width: 40em;
    height: 2em;
    left: 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -20em;
    margin-right: auto;
    padding: 0.5em 0;
    background-color: #fff;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

header .border-wrapper {
    padding-left: 2em;
    padding-right: 2em;
    border-bottom: 1px solid #000;
}

footer .border-wrapper {
    padding-left: 2em;
    padding-right: 2em;
    border-top: 1px solid #000;
}

@media screen {
    nav {
        position: fixed;
        /*right: 2em;*/
        left: 50%;
        top: 10em;
        margin-left: 22em;
        width: 16em;
    }
}

article:before, 
section:before {
    content: ".";
    display: block;
    margin-top: -3em;
    height: 3em;
    visibility: hidden;
}

pre, code {
    font-family: liberation_mono;
}

div#title-page h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

main article h1 {
    font-size: 2.2em;
    font-weight: bold;
}

main article section h1 {
    font-size: 2em;
    font-weight: bold;
}

main article section section h1 {
    font-size: 1.8em;
    font-weight: bold;
}

main article section section section h1 {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

main article section section section section h1 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

main article section section section section.template-tag h1 {
    font-family: liberation_mono;
    font-size: 1.2em;
}

main article section section section section.template-tag h2{
    font-size: 1.2em;
    font-weight: bold;
    color: #444;
}

dl#foundry-structure-folders dt {
    font-family: liberation_mono;
    float: left;
    width: 8em;
    margin: 0.2em 0;
}

dl#foundry-structure-folders dd {
    margin: 0.2em 0 0.2em 8.5em;
}

dl#foundry-structure-folders dd:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
}